@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

::-webkit-scrollbar {
   width: 7px;
 }

 ::-webkit-scrollbar:horizontal {
   height: 7px;
 }

 ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:horizontal {
   background: #888;
   border-radius: 10px;
 }